
$grey-bg: #f6f7fa;
$grey-subtitle: #8492af;
$grey-border: #d4d9e3;

$blue-menu: #0e1a35;
$blue-menu-active: #5584ff;
$blue-menu-hover: #122143;

$blue-cat-1: #5584ff;
$blue-cat-2: #4b74e0;
$blue-cat-3: #4164c2;
$blue-cat-4: #3755a4;
$blue-cat-5: #25396e;


$blue-badge: #5384ff;
$pink-badge: #f83c7b;

$green-completed: #44d058;